* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* SECTION HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0084FD;

    padding: 10px;
    font-size: 14px;
}

header nav ul {
    display: flex;
    align-items: center;
    margin-right: 140px;

    gap: 20px;
}

header nav figure {
    margin-left: 250px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.nav-right i {
    display: none;
}

.btn-white {
    background-color: white;
    color: black;
    border-radius: 70px;
    padding: 7px;
}

/* // SECTION HEADER // */

/* SECTION DEMO */

#container-section-1{
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.flex {
    display: flex;
}

.row {
    width: 80%;
    margin: auto;

    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    background-color:#b5ddff;
    border-radius: 20px;

    width: calc((100%/3) *2);
    height: 280px;
}

.big-card {
    margin-left: 30px;
    margin-top: 30px;
}

.big-card figure img {
    width: 30%;
    max-width: 100%;
    margin-top: -225px;
    margin-left: 400px;
}

.big-card .text {
    width: 50%;


    flex-direction: column;
    justify-content: space-around;
}

.text h3 {
    font-size: 25px;
    color: #0084FD;
}

.text p {
    line-height: 160%;
    color: #455460;
    margin-top: 20px;

    font-weight: bold;
}

.btn-apple {
   background-color: #0084FD;
   color: white;

   width: 160px;
   font-size: 19px;
   border-radius: 70px;

   text-align: center;
   margin-top: 30px;
}

.little-card{
    width: calc((100% / 3) - 20px);
    background-color:#b5ddff;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 30px;
    height: 280px;
    margin-bottom: 20px;

}

.text-center {
    text-align: center;
}

.icons {
    font-size: 40px;
    margin-top: 20px;
}

/* // SECTION DEMO // */

/* PLANNING */

#container-section-2 {
    background-color: #9792E4;
    margin-top: 70px;
}

.left-section-2 {
    flex-direction: column;

    margin-left: 300px;
    margin-top: 70px;
}

.left-section-2 img {
    width: 50%;
}

.left-section-2 h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

.left-section-2 p {
    color: white;
}

.right-section-2 {
    background-color: white;
    border-radius: 50px;
    flex-direction: column;

    width: 300px;
    height: 400px;

    margin-top: 350px;
    margin-bottom: 40px;
    margin-right: 100px;
}

.right-section-2 img {
   width: 60%;
   margin-left: 50px;
}

h4 {
    text-align: center;
}

.right-section-2 em {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.arrow {
    background-color: #9792E4;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 120px;
}

.arrow i {
    margin-top: 15px;
}



/* // PLANNING // */


/* VERSION TABLET */

@media screen and (max-width: 768px) {

    /* SECTION HEADER */

    header nav figure {
        margin-left: 25px;
        margin-top: 5px;
    }

    header nav ul {
        display: none;
    }

    .nav-right i {
        display: block;
        width: 30px;
        font-size: 30px;
    }

    /* // SECTION HEADER // */

    /* SECTION DEMO */

    #container-section-1 {
        width: 100%;
        padding: 40px;
    }

    .cards,
    .little-card {
        height: 550px;
    }

    .big-card {
        display: flex;
        flex-direction: column;
    }

    .big-card figure img {
        width: 70%;
        margin-left: 5px;
        margin-bottom: -270px;
    }

    .icons {
        margin-top: -130px;
        font-size: 40px;
        margin-bottom: -80px
    }

    .text h3 {
        font-size: 17px;
        color: #0084FD;
        font-weight: bolder;
    }

    .text p {
        line-height: 130%;
        font-size: 15px;
        color: #455460;

        font-weight: bold;
    }

    .text-center h3 {
        font-size: 17px;
        color: #0084FD;
        font-weight: bolder;

        margin-top: -250px;
    }

    .text-center p {
        line-height: 150%;
        font-size: 15px;
        color: #455460;

        font-weight: bold;
    }

    /* // SECTION DEMO // */
}

/* VERSION MOBILE */

@media screen and (max-width: 480px) {

    /* SECTION HEADER */

    header nav figure {
        margin-left: 25px;
        margin-top: 5px;
    }

    header nav ul {
        display: none;
    }

    /* // SECTION HEADER // */

    /* SECTION DEMO */

    #container-section-1 {
        width: 100%;
        padding: 40px;
    }

    .row {
        width: 100%;
        
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-card figure img {
        width: 80%;
        margin-left: 10px;
        margin-bottom: -240px;
    }

    .cards {
        width: 300px;
        height: 580px;
    }

    .little-card {
        margin-top: 30px;
        width: 300px;
        height: 400px;
    }

    .icons {
        margin-top: -10px;
    }


    .text-center h3 {
        font-size: 25px;
        color: #0084FD;
        font-weight: bolder;
        margin-top: 20px;
    }

    .text-center p {
        line-height: 150%;
        font-size: 15px;
        color: #455460;

        font-weight: bold;
    }

    /* // SECTION DEMO // */
}