* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #0084FD;

    padding: 10px;
    font-size: 14px;
}

header nav ul {
    display: flex;
    align-items: center;
    margin-right: 140px;

    gap: 20px;
}

header nav figure {
    margin-left: 250px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    padding: 7px;
}

.btn-white {
    background-color: white;
    color: black;
    border-radius: 70px;
}

/* // HEADER // */

#container-section-1{
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.row {
    width: 80%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    background-color:#b5ddff ;
    border-radius: 20px;

    width: calc((100%/3) *2 );
    display: flex;
    height: 300px;
}

.big-card {
    margin-left: 30px;
    margin-top: 10px;
}

.big-card figure img {
    width: 30%;
    max-width: 100%;
    margin-top: -125px;
    margin-left: 400px;
}

.big-card .text {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text h3 {
    font-size: 25px;
    color: #0084FD;
}

.text p {
    line-height: 160%;
    color: #455460;
    margin-top: 20px;

    font-weight: bold;
}

/* VERSION TABLET */

@media screen and (max-width: 780px) {
    header nav figure {
        margin-left: 25px;
        margin-top: 5px;
    }

    header nav ul {
        display: none;
    }
}

/* VERSION MOBILE */

@media screen and (max-width: 480px) {
    header nav figure {
        margin-left: 25px;
        margin-top: 5px;
    }

    header nav ul {
        display: none;
    }
}